<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="m1"></ion-menu-button>
          </ion-buttons>
    <ion-title>
        {{ superP.globalLanguages?.apresavant_titre ? superP.globalLanguages?.apresavant_titre : 'apresavant_titre' }}
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
         <ion-card *ngFor="let res of result" (click)="goToDetail(res?.id)" class="ion-text-center">
           <ion-card-header >
              <div (click)="afficherProduit(res?.id_categorie)" class="img-card" [style.background-image]="'url('+res?.url_image+')'" style="background-position: center;background-size: cover;border-radius: 50%">
                      <img src="../../../assets/img/background.png"/>
                </div>
              <!-- <ion-avatar class="ion-align-items-center">
                  <img [src]="res?.url_image" />
                </ion-avatar>  -->
           </ion-card-header>
           <ion-card-content>
             
              <h4 >{{ res?.titre }}</h4>
           </ion-card-content>
         </ion-card>
      <!-- <ion-list lines="none" *ngIf="result">
          <ion-item *ngFor="let res of result" (click)="goToDetail(res?.id)">
           
           <br>
            <ion-label >
                <h4 >{{ res?.titre }}</h4>
            </ion-label>
          </ion-item>
      </ion-list> -->

      <div *ngIf="result.length == '0'">
          <p text-center>{{ superP.globalLanguages?.actualite_message_noitems ? superP.globalLanguages?.actualite_message_noitems : 'actualite_message_noitems' }}</p>
      </div>
</ion-content>
