
<ion-header>
  <ion-toolbar text-center>
      <img class="animated bounceIn" src="../../../assets/img/logoheader.png" >
    <ion-icon slot="end" name="close" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content text-center ion-padding ion-margin>
   
  <!-- <form [formGroup]="myform" novalidate>
        
    <ion-item ion-padding>
      <ion-label><ion-icon name="mail"></ion-icon></ion-label>
      <ion-input type="text" formControlName="email" placeholder="{{ superP.globalLanguages?.auth_input_email_placeholder ? superP.globalLanguages?.auth_input_email_placeholder : 'auth_input_email_placeholder' }}"></ion-input>
    </ion-item>
    <p *ngIf="myForm.controls['email'].errors && myForm.controls['email'].dirty"  style="color: #f53d3d" padding-left>{{ superP.globalLanguages?.auth_input_error_email ? superP.globalLanguages?.auth_input_error_email  : 'auth_input_error_email' }}</p>
    <ion-item>
      <ion-label><ion-icon name="lock"></ion-icon></ion-label>
      <ion-input type="password" formControlName="password" placeholder="{{ superP.globalLanguages ? superP.globalLanguages?.auth_input_password_placeholder : 'auth_input_password_placeholder' }}"></ion-input>
    </ion-item>
    <p *ngIf="myForm.controls['password'].errors && myForm.controls['password'].dirty" style="color: #f53d3d" padding-left>{{ superP.globalLanguages?.auth_input_error_password  ? superP.globalLanguages?.auth_input_error_password  : 'auth_input_error_password' }}</p>

     
    
    <p text-right (click)="forgetModal()">Forgot Password?</p>
  
    <ion-button [disabled]="!myForm.valid" (click)="login(myForm)"  expand="full" color="primary">Login</ion-button>
  </form>
  <p text-center>Don't have a account?</p>
  <ion-button expand="full" color="danger" (click)="registerModal()">Register</ion-button> -->
  
</ion-content>

