<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button (click)="closeModal()"></ion-back-button> -->
        <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
    <ion-title>
        {{ superP.globalLanguages.demandeinfo_titre ?
          superP.globalLanguages?.demandeinfo_titre : 'demandeinfo_titre' }} 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-list padding>
            <ion-textarea style="border: 1px solid black;padding :10px;border-radius: 5px;" [(ngModel)]="description" rows="9" placeholder="{{superP.globalLanguages?.demandeinfo_input_placeholder}}"></ion-textarea>
         
          <ion-button expand="block" shape="round" (click)="send()">
            <ion-icon ios="ios-send" md="md-send"></ion-icon>
            &nbsp;&nbsp;{{ superP.globalLanguages?.demadeinfo_btn_envoyer_demande ?
            superP.globalLanguages?.demadeinfo_btn_envoyer_demande : 'demadeinfo_btn_envoyer_demande' }}
          </ion-button>
        </ion-list>
</ion-content>
