<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="m1"></ion-menu-button>
          </ion-buttons>
    <ion-title>
        {{superP.globalLanguages?.rdv_titre}}    
      </ion-title>
      <ion-button [routerLink]="[ '/panier' ]" slot="end" >
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="primary">{{ superP.collecteurPanier?.length }}</ion-badge>   
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list padding>
     
        <ion-label class="ion-margin-top"> {{superP.globalLanguages?.date_rdv}} : </ion-label>
        <ion-datetime cancelText="Annuler" doneText="Valider" displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="date_resa"></ion-datetime>
     
        <ion-textarea class="ion-margin-left" [(ngModel)]="description" rows="9" placeholder="{{superP.globalLanguages?.rdv_input_placeholder}}"></ion-textarea>
     
      <ion-button expand="block" shape="round" (click)="send()" class="ion-margin-top">
        <ion-icon ios="ios-send" md="md-send"></ion-icon>
        &nbsp;&nbsp;{{ superP.globalLanguages?.demadeinfo_btn_envoyer_demande ?
        superP.globalLanguages?.demadeinfo_btn_envoyer_demande : 'demadeinfo_btn_envoyer_demande' }}
      </ion-button>
    </ion-list>
  </ion-content>
