<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="m1"></ion-menu-button>
          </ion-buttons>
    <ion-title>{{ superP.globalLanguages?.produit_titre_liste_categorie ?
      superP.globalLanguages?.produit_titre_liste_categorie : 'services_titre' }}</ion-title>
    <!-- <ion-button [routerLink]="[ '/panier' ]" slot="end" >
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="primary">{{ superP.collecteurPanier?.length }}</ion-badge>   
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="back">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh ;)"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      <ion-card class="animated lightSpeedIn" *ngFor="let res of result" style="border-radius: 15px">
        <ion-card-header style="background-color: rgba(25, 47, 241, 0.534);color: white">
          <ion-card-subtitle color="light"><h1 col> {{ res?.titre }} </h1></ion-card-subtitle>
        </ion-card-header>
          <div (click)="afficherProduit(res?.id_categorie)" class="img-card" [style.background-image]="'url('+res?.url_image+')'" style="background-position: center;background-size: cover;">
            <img src="../../../assets/img/background.png"/>
          </div>
        <!-- <ion-card-content> -->
            
        <!-- <ion-segment>
          <ion-segment-button (click)="afficherProduit(res?.id_category)">
            <ion-label>
                {{ superP.globalLanguages?.eboutique_listproducts ? superP.globalLanguages?.eboutique_listproducts : 'eboutique_listproducts' }} 
            </ion-label>
          </ion-segment-button>
          <ion-segment-button *ngIf="res?.children.length > 0" (click)="goToProduits(res?.id_category,res?.children)" [disabled]="(res?.children.length > 0) ? false : true" >
            <ion-label>
              {{ superP.globalLanguages?.eboutique_rubrique ? superP.globalLanguages?.eboutique_rubrique : 'eboutique_rubrique' }} {{res?.children.length }}
            </ion-label>
          </ion-segment-button>
        </ion-segment> -->
         <!-- <ion-row class="ion-text-center">
              <ion-button (click)="afficherProduit(res?.id_categorie)" color="success" extends="block" ></ion-button>
              <ion-button extends="block"  color="warning" ></ion-button>
          </ion-row>  -->
        <!-- </ion-card-content> -->
      </ion-card>
   
    <div *ngIf="!result">
      <p text-center>{{ superP.globalLanguages?.eboutique_message_noitems ?
        superP.globalLanguages?.eboutique_message_noitems : 'eboutique_message_noitems' }}</p>
    </div>
  </div>
 
</ion-content>
