ion-segment-button {
    background-color:transparent;
    color: black;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
}
// ion-card{
//     background-color: #796c6c24;
// }
// .back{
//     background-image: url("../../../../assets/img/cat.jpg");
//     // background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 100%;
//     height: 100%;
// }