<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-back-button text="" defaultHref="offre"></ion-back-button>
      </ion-buttons>
      <ion-title>
          {{res?.titre}}
      </ion-title>
      <ion-button [routerLink]="[ '/panier' ]" slot="end" >
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="primary">{{ superP.collecteurPanier?.length }}</ion-badge>   
    </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>  
  <!-- <ion-list padding>
    <ion-img [src]="res?.url_image" ></ion-img>
    <ion-item detail-none no-line><br>
         <h2 text-center ><b>{{res?.titre}}</b></h2><br> -->
        <!-- <h3 text-center  *ngIf="res?.prix"><b>{{res?.prix}} {{ superP.globalLanguages?.capitale ? superP.globalLanguages?.capitale : 'capitale' }}</b></h3>
        <h3 text-center  *ngIf="!res?.prix"><b></b></h3>
    </ion-item>
    <ion-item detail-none><br>
      <p class="description" [innerHTML]='res?.description'></p><br>
    </ion-item> 
    <ion-item padding detail-none text-center>
      <ion-col size="12">
        <ion-button expand="block" (click)="demandeInfo()"> <ion-icon ios="ios-create" md="md-create"></ion-icon>&nbsp;&nbsp;{{ superP.globalLanguages?.actualite_demande_info_btn ? superP.globalLanguages?.actualite_demande_info_btn : 'actualite_demande_info_btn' }}</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" shape="round" *ngIf="showAdd" (click)="addToFavoris(res?.id_catalogue)"> <ion-icon ios="ios-heart" md="md-heart"></ion-icon>&nbsp;&nbsp;{{ superP.globalLanguages?.actualite_detailproduit_addtofavoris ? superP.globalLanguages?.actualite_detailproduit_addtofavoris : 'actualite_detailproduit_addtofavoris' }}</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" shape="round" *ngIf="!showAdd" (click)="removeFromFavoris(res?.id_catalogue)"><ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>&nbsp;&nbsp;{{ superP.globalLanguages?.actualite_detailproduit_deletefromfavoris ? superP.globalLanguages?.actualite_detailproduit_deletefromfavoris : 'actualite_detailproduit_deletefromfavoris' }}</ion-button>
      </ion-col>
    </ion-item> 
  </ion-list> --> 
</ion-content>
