<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="m1"></ion-menu-button>
          </ion-buttons>
    <ion-title>{{ superP.globalLanguages?.offre_titre ? superP.globalLanguages?.offre_titre : 'offre_titre' }}</ion-title>
    <ion-button [routerLink]="[ '/panier' ]" slot="end" >
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="primary">{{ superP.collecteurPanier?.length }}</ion-badge>   
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-segment (ionChange)="segmentChanged($event)" value="boutique" ion-padding>
        <ion-segment-button value="boutique">
          <ion-label>boutique</ion-label>
        </ion-segment-button>
        <ion-segment-button value="offre">
          <ion-label>offre</ion-label>
        </ion-segment-button>
      </ion-segment> -->
        <ion-grid class="animated lightSpeedIn" *ngIf="services">
          <ion-row no-padding>
              <ion-col  size="6"  *ngFor="let res of services" >
                <ion-card (click)="openProduit(res)">
                  <ion-card-header text-center>
                    <ion-card-subtitle>{{res?.titre}}</ion-card-subtitle>
                  </ion-card-header>
                  <div class="img-card" [style.background-image]="'url('+res?.url_image+')'" style="background-position: center;background-size: cover;">
                    <img src="../../../assets/img/background.png"/>
                  </div>                
                </ion-card>
              </ion-col>
          </ion-row>
        </ion-grid>
      <div *ngIf="services.length == '0'">
        <p text-center>{{ superP.globalLanguages?.offre_noitems_produits ? superP.globalLanguages?.offre_noitems_produits : 'offre_noitems_produits' }}</p>
      </div> 
</ion-content>
