<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button menu="m1"></ion-menu-button>
        </ion-buttons>
    <ion-title>{{ superP.globalLanguages.profile_titre ? superP.globalLanguages.profile_titre : 'profile_titre' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <div color="primary">
    <img #img *ngIf="imagePath" [src]="imagePath+'?'+random" style="width: 100px ; height : 100px"  />
    <img *ngIf="!imagePath" src="assets/imgs/profile.png" style="width: 100px ; height : 100px" />
  </div><hr>
        <h4 text-center class="info">{{ superP.User?.nom }} {{ superP.User?.prenom }}</h4>
        <p text-center class="email">{{ superP.User?.email }}</p>
        <h4 class="info">  {{ superP.User?.solde_point }}
            {{ superP.globalLanguages.solde_point ? 
             superP.globalLanguages.solde_point :
              'solde_point' }}</h4>
        <ion-toolbar color="primary">
            <ion-grid no-margin>
                <ion-row no-margin text-center>
                  <ion-col (click)="edit()">
                      <ion-icon name="pencil"></ion-icon>
                      {{ superP.globalLanguages.profile_editprofile ? 
                        superP.globalLanguages.profile_editprofile : 
                        'profile_editprofile' }}
                  </ion-col>
                  <ion-col (click)="logout()" >
                      <ion-icon name="log-out"></ion-icon>
                      {{ superP.globalLanguages?.plus_menu_deconnexion ?
                        superP.globalLanguages?.plus_menu_deconnexion : 
                      "superP.globalLanguages?.plus_menu_deconnexion" }}
                  </ion-col>
                </ion-row>
            </ion-grid> 
           </ion-toolbar>

          <ion-button color="primary" fill="outline"  expand="block" round strong [routerLink]="[ '/mes-produit-service' ]">
              <ion-icon name="star"></ion-icon>&nbsp;&nbsp;
               {{ superP.globalLanguages.profile_btn_produitfavoris ? superP.globalLanguages.profile_btn_produitfavoris :'list_demande_services' }} 
          </ion-button>

    <ion-button color="primary" fill="outline"  expand="block" round strong [routerLink]="[ '/mes-participent' ]">
    <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>&nbsp;&nbsp; 
    {{ superP.globalLanguages.profile_btn_participations ? 
      superP.globalLanguages.profile_btn_participations : 
      'profile_btn_participations' }} </ion-button>
  
    <ion-button color="primary" fill="outline"  expand="block" round strong [routerLink]="[ '/mes-article-fav' ]">
        <ion-icon name="appstore"></ion-icon>    {{ superP.globalLanguages.profile_btn_articlefavorie ? 
      superP.globalLanguages.profile_btn_articlefavorie :
       'profile_btn_articlefavorie' }} </ion-button>
  
    <ion-button color="primary" fill="outline"  expand="block" round strong [routerLink]="[ '/mes-demandes' ]">
        <ion-icon name="clipboard"></ion-icon>  &nbsp;&nbsp; {{ superP.globalLanguages.demandeinfo_btn_listdemandes ?
       superP.globalLanguages.demandeinfo_btn_listdemandes :
        'demandeinfo_btn_listdemandes' }} </ion-button>
  
    <ion-button color="primary" fill="outline"  round  expand="block" [routerLink]="[ '/mes-demandes-boutique' ]">
    <ion-icon name="star"></ion-icon>&nbsp;&nbsp; 
    {{ superP.globalLanguages.list_demande_boutique ?
      superP.globalLanguages.list_demande_boutique : 
      'list_demande_boutique' }}  </ion-button>
  
    <ion-button color="primary" fill="outline"  expand="block" round strong [routerLink]="[ '/mes-demande-service' ]">
        <ion-icon name="shirt"></ion-icon>   {{ superP.globalLanguages.list_demande_services ?
      superP.globalLanguages.list_demande_services :
       'list_demande_services' }}  </ion-button>

<ion-footer >
    
   </ion-footer>
</ion-content>
